<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/assets/favicon.ico">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
